<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="../main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app" v-cloak>
    <v-app id="test">

        <v-col class="text-center">
            <v-btn :ripple="false" :outlined="selected" class="mt-4 ma-1" width="100" height="100" fab color="grey darken-4" @click="selected = !selected">
              <div>
                <v-img width="55" src="../../resources/icons/web/lamp_on.svg"/>
              </div>
            </v-btn>
            <div class="text-capitalize black--text font-weight-light mb-4">
              name
            </div>
          </v-col>

    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./source/api.js"></script>
  <script src="test.js"></script>
</body>

</html>