<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-navigation-drawer v-model="drawerRight" app clipped right permanent color='#E9E9E9'>
                <!-- top bar -->
                <template v-slot:prepend>
                    <v-list-item two-line>
                        <v-list-item-avatar tile>
                            <v-img src="../resources/icons/web/vacuum_on.svg" align-start contain height="40"
                                width="30">
                            </v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>Air Conditioner</v-list-item-title>
                            <v-list-item-subtitle>Living Room</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-btn icon>
                            <v-icon v-show="favorite">mdi-star</v-icon>
                            <v-icon v-show="!favorite">mdi-star-outline</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>mdi-settings</v-icon>
                        </v-btn>
                    </v-list-item>
                </template>

                <v-divider></v-divider>

                <!-- information container -->
                <v-container fluid>
                    <v-layout align-center wrap>
                        <v-layout column align-end mr-2>
                            <h3>Off</h3>
                        </v-layout>
                        <v-layout column>
                            <v-switch class="align-center justify-center" v-model="switch1" color="orange"></v-switch>
                        </v-layout>
                        <v-layout column>
                            <h3>On</h3>
                        </v-layout>
                    </v-layout>

                    <v-subheader>Temperature</v-subheader>
                    <v-slider v-model="value" class="mt-4" step="1" ticks="always" tick-size="4" min="18" max="38"
                        thumb-label="always" thumb-size="25" color="orange" track-color="black"
                        thumb-color="orange darken-2"></v-slider>

                    <v-subheader>Mode</v-subheader>
                    <v-layout column align-center>
                        <v-btn-toggle v-model="text" tile color="orange darken-2" group mandatory>
                            <v-btn>Cold</v-btn>
                            <v-btn>Vent</v-btn>
                            <v-btn>Heat</v-btn>
                        </v-btn-toggle>
                    </v-layout>

                    <v-subheader>Fan Speed</v-subheader>
                    <v-layout>
                        <v-slider v-model="value" class="mt-4" step="25" ticks="always" tick-size="4" min="25" max="100"
                            thumb-label="always" thumb-size="25" color="orange" track-color="black"
                            thumb-color="orange darken-2" :disabled="autoFanSpeed"></v-slider>
                        <v-checkbox label="Auto" color="orange darken-2" @change="autoFanSpeed = !autoFanSpeed">
                        </v-checkbox>
                    </v-layout>
                    <v-subheader>Vertical Wings</v-subheader>
                    <v-layout>
                        <v-slider v-model="value" class="mt-4" step="22.5" ticks="always" tick-size="4" min="22.5"
                            max="90" thumb-label="always" thumb-size="25" color="orange" track-color="black"
                            thumb-color="orange darken-2" :disabled="autoVerWings"></v-slider>
                        <v-checkbox label="Auto" color="orange darken-2" @change="autoVerWings = !autoVerWings">
                        </v-checkbox>
                    </v-layout>
                    <v-subheader>Horizontal Wings</v-subheader>
                    <v-layout>
                        <v-slider v-model="value" class="mt-4" step="45" ticks="always" tick-size="4" min="-90" max="90"
                            thumb-label="always" thumb-size="25" color="orange" track-color="black"
                            thumb-color="orange darken-2" :disabled="autoHorWings"></v-slider>
                        <v-checkbox label="Auto" color="orange darken-2" @change="autoHorWings = !autoHorWings">
                        </v-checkbox>
                    </v-layout>


                    <v-layout align-center wrap ma-3>
                        <v-layout column>
                            <v-btn icon>
                                <v-icon v-show="playVac" @click="playVac = !playVac" size="60">mdi-play-circle</v-icon>
                                <v-icon v-show="!playVac" @click="playVac = !playVac" size="60">mdi-pause-circle
                                </v-icon>
                            </v-btn>
                        </v-layout>
                        <v-layout column>
                            <v-btn class="my-2" color="orange darken-2" block @click="charging = !charging" width="100">
                                <h3 v-show="!charging">GO CHARGE</h3>
                                <h3 v-show="charging">CHARGING</h3>
                            </v-btn>
                        </v-layout>
                    </v-layout>

                    <v-subheader>Mode</v-subheader>
                    <v-layout column align-center>
                        <v-btn-toggle v-model="text" tile color="orange darken-2" group mandatory>
                            <v-btn>Vacuum</v-btn>
                            <v-btn>Mop</v-btn>
                        </v-btn-toggle>
                    </v-layout>

                    <v-subheader>Room to Clean</v-subheader>
                    <v-select :items="['Living Room', 'Kitchen', 'Bathroom']" :value="room" required></v-select>

                    <v-subheader>Charging Base in</v-subheader>
                    <v-select :items="['Living Room', 'Kitchen', 'Bathroom']" :value="chargingBase" required></v-select>
                </v-container>
            </v-navigation-drawer>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./source/api.js"></script>
    <script src="test.js"></script>
</body>

</html>