<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-navigation-drawer v-model="drawerRight" app clipped right permanent color='#E9E9E9'>
                <!-- top bar -->
                <template v-slot:prepend>
                    <v-list-item two-line>
                        <v-list-item-avatar tile>
                            <v-img src="../resources/icons/web/window_closed.svg" align-start contain height="40"
                                width="30">
                            </v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <v-list-item-title>Front Door</v-list-item-title>
                            <v-list-item-subtitle>Living Room</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-btn icon>
                            <v-icon v-show="favorite">mdi-star</v-icon>
                            <v-icon v-show="!favorite">mdi-star-outline</v-icon>
                        </v-btn>
                        <v-btn icon>
                            <v-icon>mdi-settings</v-icon>
                        </v-btn>
                    </v-list-item>
                </template>

                <v-divider></v-divider>

                <!-- information container -->
                <v-container fluid>
                    <v-layout column align-center>
                        <v-btn-toggle v-model="text" tile color="orange darken-2" group mandatory>
                            <v-btn>Closed</v-btn>
                            <v-btn>Open</v-btn>
                        </v-btn-toggle>
                    </v-layout>
                </v-container>
            </v-navigation-drawer>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./source/api.js"></script>
    <script src="test.js"></script>
</body>

</html>