<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="./source/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div v-cloak id="app">
    <v-app id="inspire">
      <toolbar :tab="0"></toolbar>
      <panel></panel>
      <v-content>
        <v-container>

          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Devices</div>
          <v-slide-group light>
            <v-slide-item v-for="device in favDevices" :key="device.id">
              <dev-btn :device=device></dev-btn>
            </v-slide-item>
            <v-slide-item v-if="favDevices.length === 0 && gotData">
              <no-card text="No Favorite Devices!"></no-card>
            </v-slide-item>
          </v-slide-group>

          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Rooms</div>
          <v-slide-group light>
            <v-slide-item v-for="room in favRooms" :key="room.id">
              <card-btn type="room" :title="room.name" :img_name="room.meta.image" :id="room.id"></card-btn>
            </v-slide-item>
            <v-slide-item v-if="favRooms.length === 0 && gotData">
              <no-card text="No Favorite Rooms!"></no-card>
            </v-slide-item>
          </v-slide-group>

          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Routines</div>
          <v-slide-group light>
            <v-slide-item v-for="routine in favRoutines" :key="routine.id">
              <routine-btn :title="routine.name" :img_name="routine.meta.image"></routine-btn>
            </v-slide-item>
            <v-slide-item v-if="favRoutines.length === 0 && gotData">
              <no-card text="No Favorite Routines!"></no-card>
            </v-slide-item>
          </v-slide-group>

        </v-container>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./source/api.js"></script>
  <script src="components.js"></script>
  <script src="source/home.js"></script>

</body>

</html>