<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="./main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div v-cloak id="app">
    <v-app id="inspire">
      <toolbar :tab="0"></toolbar>
      <panel device=""></panel>
      <v-content>
        <v-container>
          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Devices</div>
          <v-slide-group light>
            <v-slide-item v-for="device in favDevices" :key="device">
              <dev-btn :name="device.name" :cat="device.cat" :room="device.room"></dev-btn>
            </v-slide-item>
          </v-slide-group>

          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Devices</div>
          <v-slide-group light>
            <v-slide-item v-for="room in favRooms" :key="room">
              <card-btn href="room.html" :title="room.title" :img_name="room.img_name"></card-btn>
            </v-slide-item>
          </v-slide-group>

          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Devices</div>
          <v-slide-group light>
            <v-slide-item v-for="routine in favRoutines" :key="i">
              <card-btn href="routine.html" :title="routine.title" :img_name="routine.img_name"></card-btn>
            </v-slide-item>
          </v-slide-group>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./source/api.js"></script>
  <script src="components.js"></script>
  <script src="source/home.js"></script>

</body>

</html>