<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="./main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div v-cloak id="app">
    <v-app id="inspire">
      <toolbar :tab="0"></toolbar>
      <panel device=""></panel>
      <v-content>
        <v-container>
          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Devices</div>
          <v-slide-group light>
            <v-slide-item v-for="dev in favDevices" :key="dev">
              <dev-btn :name="dev.name" :cat="dev.cat" :room="dev.room"></dev-btn>
            </v-slide-item>
          </v-slide-group>

          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Devices</div>
          <v-slide-group light>
            <v-slide-item v-for="i in 10" :key="i">
              <card-btn href="./home.html" title="Living" img_name="living_01"></card-btn>
            </v-slide-item>
          </v-slide-group>

          <div class="mt-4 ml-4 mb-2 title font-weight-bold">Favorites Devices</div>
          <v-slide-group light>
            <v-slide-item v-for="i in 3" :key="i">
              <card-btn href="./home.html" title="Living" img_name="living_01"></card-btn>
            </v-slide-item>
          </v-slide-group>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="components.js"></script>
  <script src="home.js"></script>

</body>

</html>