<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="sources/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div v-cloak id="app">
    <v-app id="inspire">
      <toolbar :tab="1"></toolbar>
      <panel device=""></panel>
      <v-content>
        <v-container>
          <v-row class="align-center">
            <v-col>
              <v-btn icon href="rooms.html">
                <v-icon size="40">mdi-arrow-left</v-icon>
              </v-btn>
            </v-col>
            <v-col>
                <div class="headline ml-5 text-left">{{ title }}</div>
            </v-col>
            <v-btn right class="ml-5" icon href="rooms.html">
              <v-icon size="40">mdi-star-outline</v-icon>
            </v-btn>
            <v-btn right class="mx-5" icon href="rooms.html">
              <v-icon size="35">mdi-settings</v-icon>
            </v-btn>
          </v-row>
        </v-container>
        <v-divider class="mx-5"></v-divider>

        <v-container>
          <v-row>
            <div class="title grey--text mt-4 ml-5">Lights</div>
          </v-row>
          <v-row>
            <v-col v-for="dev in devices" cols="auto">
              <dev-btn :name="dev.name" :cat="dev.cat" :room="dev.room"></dev-btn>
            </v-col>
          </v-row>
        </v-container>

        <v-container>
          <v-row>
            <div class="title grey--text ml-5">Speakers</div>
          </v-row>
          <v-row>
            <v-col v-for="i in 3" cols="auto">
              <dev-btn name="Prueba" cat="Air Conditioner" room="Living Room"></dev-btn>
            </v-col>
          </v-row>
        </v-container>

        
           
          <add-btn context="device"></add-btn>
       

      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./source/api.js"></script>
  <script src="components.js"></script>
  <script src="source/room.js"></script>

</body>

</html>