<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="./source/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>Routines</title>
</head>

<body>
  <div v-cloak id="app">
    <v-app id="inspire">
      <!-- Toolbar -->
      <toolbar :tab="3"></toolbar>

      <!-- Content -->
      <v-content>
        <!-- Displays all the routines from API -->
        <v-container>
          <v-row justify="center">
            <v-col v-for="routine in routines" :key="routine.id" cols="auto">
              <routine-btn :routine="routine"></routine-btn>
            </v-col>
            <v-col v-if="routines.length === 0 && gotData" cols="auto">
              <no-card text="No Routines created!"></no-card>
            </v-col>
          </v-row>
        </v-container>

        <!-- Button for adding routines -->
        <add-btn context="routine"> </add-btn>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./source/api.js"></script>
  <script src="./components/toolbar.js"></script>
  <script src="./components/list-card.js"></script>
  <script src="./components/adders.js"></script>
  
  <script src="source/routines.js"></script>

</body>

</html>