*{box-sizing: border-box}

body{
    background-color: rgb(255, 255, 255);
    font: 15px Helvetica, sans-serif;
}
.header {
    overflow: hidden;
    background-color: #313030;
    padding: 20px 10px;
  }
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.header-right {
  float: right;
}
.topnav {
    background-color: rgb(255, 153, 0);
    overflow: hidden;
  }
  
/* links inside the navigation bar */
.topnav a {
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  width: 25%; 
  text-align: center;
}

.topnav a:hover {
  color: black;
  color: black;
  text-decoration: underline
}

.topnav a.active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {
  padding: 20px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}