<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="../main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app id="test"><br>
        <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                    <v-btn v-on="on" x-large class="mx-2" fab dark color="orange darken-2" @click="overlay = !overlay">
                        <v-icon dark>mdi-plus</v-icon>
                    </v-btn>
                </template>
                <span>Add Device</span>
            </v-tooltip>
        <v-overlay :value="overlay">
        
        <v-card light>
            <v-card-title>
                <span class="headline">Add Device</span>
            </v-card-title>
            
            <v-card-text>
                <v-container>
                <v-row>
                    <v-col cols="12">
                    <v-text-field label="Name" required></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6">
                    <v-select :items="['Living', 'Kitchen', 'Bathroom', 'Garage']"
                        label="Room" required></v-select>
                    </v-col>
                    <v-col cols="12" sm="6">
                        <v-select :items="['Light', 'Oven', 'Door', 'Window', 'Air Aconditioner', 'Vacuum', 'Speaker']"
                        label="Type" required></v-select>
                    </v-col>
                </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="red darken-1" text @click="overlay = false; snackbarCan = true">Cancel</v-btn>
                <v-btn color="black darken-1" text @click="overlay = false; snackbarOk = true">Create</v-btn>
            </v-card-actions>
        </v-card>
        </v-overlay>
        <v-snackbar v-model="snackbarOk" :multi-line="multiLine"> Successfully created!
                <v-btn color="green" text @click="snackbarOk = false"> OK </v-btn>
        </v-snackbar>
        <v-snackbar v-model="snackbarCan" :multi-line="multiLine"> Operation cancelled!
                <v-btn color="red" text @click="snackbarCan = false"> OK </v-btn>
        </v-snackbar>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="test.js"></script>
</body>

</html>