<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="../main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app id="test"><br>
        <v-tooltip bottom>
            <template v-slot:activator="{ on }">
                <v-btn v-on="on" x-large class="mx-2" fab dark color="blue" @click="overlay = !overlay">
                    <v-icon dark>mdi-plus</v-icon>
                </v-btn>
            </template>
            <span>Add Room</span>
        </v-tooltip>

        <v-overlay :value="overlay">
        <v-card light>
            <v-card-title>
                <span class="headline">Add Room</span>
            </v-card-title>
            
            <v-card-text>
                <v-container>
                <v-row>
                    <v-col cols="12">
                    <v-text-field label="Name" required></v-text-field>
                    </v-col>
                    <v-col cols="12" >
                    <v-select :items="['First', 'Second', 'Other']"
                        label="Floor" required></v-select>
                    </v-col>
                    <v-col cols="12" >
                    <v-btn color="orange" dark @click="sheet = !sheet">
                        Select image...
                    </v-btn>
                    </v-col>
                </v-row>
                </v-container>
            </v-card-text>
            
            <v-bottom-sheet v-model="sheet">
            <v-sheet  dark class="text-center" height="500px">
                    <v-card dark max-width="15000" class="mx-auto">
                        <v-container class="pa-1">
                            <v-item-group v-model="selected">
                                <v-row>
                                <v-col v-for="(item, i) in items" :key="i" cols="12" md="2">
                                    <v-item v-slot:default="{ active, toggle }">
                                    <v-img :src="`../resources/images/${item.src}`"
                                        height="150" width="300" class="text-right pa-2" @click="toggle">
                                        <v-btn icon dark >
                                        <v-icon color="orange darken-2 ">
                                            {{ active ? 'mdi-check-circle' : 'mdi-circle-outline' }}
                                        </v-icon>
                                        </v-btn>
                                    </v-img>
                                    </v-item>
                                </v-col>
                                

                                </v-row>
                                <div class="flex-grow-1"></div>

                                <v-btn class="my-2" color="orange darken-2" @click="sheet = !sheet">SELECT</v-btn>

                            </v-item-group>
                        </v-container>
                    </v-card>


            </v-sheet>
            </v-bottom-sheet>

            <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="red darken-1" text @click="overlay = false; snackbarCan = true">Cancel</v-btn>
                <v-btn color="green darken-1" text @click="overlay = false; snackbarOk = true">Create</v-btn>
            </v-card-actions>
        </v-card>
        </v-overlay>

        <v-snackbar v-model="snackbarOk" :multi-line="multiLine"> Successfully created!
                <v-btn color="green" text @click="snackbarOk = false"> OK </v-btn>
        </v-snackbar>
        <v-snackbar v-model="snackbarCan" :multi-line="multiLine"> Operation cancelled!
                <v-btn color="red" text @click="snackbarCan = false"> OK </v-btn>
        </v-snackbar>

    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="test.js"></script>
</body>

</html>